@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*,
*::before,
*::after {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-font: 'Fresca';
    --body-font: 'Nunito Sans';

    --h2-font-size: 48px;
    --p-font-size: 32px;
    --button-font-size: 24px;

    --clr-bg: #fcfcfc;
    --clr-title: #2b2d42;
    --clr-font: #333333;
    --clr-button: #f18071;
    --clr-offset-1: #8d99ae;
    --clr-offset-2: #edf2f4; 

    --font-medium: 500;
    --font-semi-bold: 600;

    --header-height: 100px;

    --z-tooltip: 10;
    --z-fixed: 100;
    --fz-model: 1000;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

h1 {
    font: var(--title-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

p {
    font-family: var(--body-font);
    font-size: var(--p-font-size);
    padding-bottom: 50px;
}

button {
    padding-top: var(--header-height);
    border-radius: 14px;
    padding: 15px;
    font-family: var(--body-font);
    color: #fff;
    background-color: var(--clr-font);
    font-size: var(--button-font-size);
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: var(--clr-button);
    border-color: var(--clr-button);
}

.site-logo {
    height: 18rem;
}

.intro {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}